<h1>Welcome!</h1>
<% if current_user %> 
  <ul> 
    <li><%= current_user.email %></li> 
    <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
    <li><%= link_to "Manage MY subscriptions", 'subscribe' %></li> 
    <li><%= link_to "View ALL existing subscriptions", controller: 'subscription', action: 'index' %></a></li> 
  </ul> 
<% else %> 
  <ul> 
    <li><%= link_to "Log in", 'login' %></a></li> 
    <li><%= link_to "Sign up", 'signup' %></a></li> 
    <li><%= link_to "View ALL existing subscriptions", controller: 'subscription', action: 'index' %></a></li> 
  </ul> 
<% end %> 
