<h1>My Current Subscriptions</h1>
<table>
    <thead>
        <th>ID</th>
        <th>User</th>
        <th>Trader</th>
    </thead>
    <tbody>
<% @subscriptions.each do |subscription| %>
    <tr>
        <td><%= subscription.id %></td>
        <td><%= User.find(subscription.user_id).name %></td>
        <td><%= Trader.find(subscription.trader_id).name %></td>
    </tr>
<% end %>
    </tbody>
</table>

<ul>
    <li><%= link_to "Manage my subscriptions", 'subscribe' %></li>
    <li><%= link_to "Home", '/' %></li>
</ul>