<div class="main">
	<h2>Add Trader</h2>
	<%= form_tag do %>
	<%= label_tag(:name, "Name:") %>
	<%= text_field_tag(:name) %>
	<%= submit_tag("Go") %>
	<% end %>
</div>

<ul>
    <li><%= link_to "View my current subscriptions", 'my_subscriptions' %></li>
    <li><%= link_to "Home", '/' %></li>
</ul>