<div class="main">
	<h2>Add Trader</h2>
	<%= form_for(@trader) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.submit "Submit", :class => "btn"%>
    <% end %>
</div>

<ul>
    <li><%= link_to "View my current subscriptions", 'my_subscriptions' %></li>
    <li><%= link_to "Home", '/' %></li>
</ul>